/* @import "tailwindcss"; */

:root {
  --white: #ffffff;
  --white-25: rgba(255, 255, 255, 0.25);
  --black: #000000;
  --black-30: rgba(0, 0, 0, 0.3);
  --black-40: rgba(0, 0, 0, 0.4);
  --blue-1: #270c86;
  --red-1: #c72026;
  --gray-400: #9ca3af;
  --gray-600: #4b5563;

  --full: 100%;
  --w-screen: 100vw;
  --h-screen: 100vh;

  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  --border-black: var(--black);
  --border-gray-200: #e5e7eb;

  --rounded-md: 0.375em;
  --rounded-lg: 0.5em;
  --rounded-xl: 0.75em;
  --rounded-2xl: 1em;
  --rounded-3xl: 1em;
}

/* ------------ START ------------ */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
button {
  resize: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.min-w-full {
  min-width: var(--full);
}

.w-auto {
  width: auto;
}

.w-max {
  width: max-content;
}

.w-screen {
  width: var(--w-screen);
}

.w-full {
  width: var(--full);
}

.w-2 {
  width: 8px;
}

.w-4 { width: 16px; }
.w-6 { width: 24px; }

.w-\[200px\] {
  width: 200px;
}

.w-\[320px\] {
  width: 320px;
}

.max-w-\[200px\] { max-width: 200px; }

.max-w-\[400px\] {
  max-width: 400px;
}

.max-w-\[500px\] {
  max-width: 500px;
}

.max-w-none {
  max-width: none;
}

.max-w-3xl {
  max-width: 768px;
}

.max-w-full {
  max-width: var(--full);
}

.min-h-\[100px\] { min-height: 100px; }

.min-h-screen {
  min-height: var(--h-screen);
}

.max-h-\[200px\] { max-height: 200px; }

.h-12 {
  height: 48px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: var(--full);
}

.h-screen {
  height: var(--h-screen);
}

.mx-auto {
  margin: 0 auto;
}

.bg-black\/30 { background-color: var(--black-30); }

.bg-black\/40 {
  background-color: var(--black-40);
}

.bg-white {
  background-color: var(--white);
}

.bg-white\/25 { background-color: var(--white-25); }

.bg-\[\#270c86\] {
  background-color: var(--blue-1);
}

.bg-\[\#c72026\] {
  background-color: var(--red-1);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.text-gray-400 { color: var(--gray-400); }
.text-gray-600 { color: var(--gray-600); }

.z-0 { z-index: 0; }

/* 1–10 */
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }
.z-6 { z-index: 6; }
.z-7 { z-index: 7; }
.z-8 { z-index: 8; }
.z-9 { z-index: 9; }
.z-10 { z-index: 10; }

/* 11–39 */
.z-\[11\] { z-index: 11; }
.z-\[12\] { z-index: 12; }
.z-\[13\] { z-index: 13; }
.z-\[14\] { z-index: 14; }
.z-\[15\] { z-index: 15; }
.z-\[16\] { z-index: 16; }
.z-\[17\] { z-index: 17; }
.z-\[18\] { z-index: 18; }
.z-\[19\] { z-index: 19; }
.z-\[20\] { z-index: 20; }
.z-\[21\] { z-index: 21; }
.z-\[22\] { z-index: 22; }
.z-\[23\] { z-index: 23; }
.z-\[24\] { z-index: 24; }
.z-\[25\] { z-index: 25; }
.z-\[26\] { z-index: 26; }
.z-\[27\] { z-index: 27; }
.z-\[28\] { z-index: 28; }
.z-\[29\] { z-index: 29; }
.z-\[30\] { z-index: 30; }
.z-\[31\] { z-index: 31; }
.z-\[32\] { z-index: 32; }
.z-\[33\] { z-index: 33; }
.z-\[34\] { z-index: 34; }
.z-\[35\] { z-index: 35; }
.z-\[36\] { z-index: 36; }
.z-\[37\] { z-index: 37; }
.z-\[38\] { z-index: 38; }
.z-\[39\] { z-index: 39; }

/* 40–100 */
.z-\[40\] { z-index: 40; }
.z-\[41\] { z-index: 41; }
.z-\[42\] { z-index: 42; }
.z-\[43\] { z-index: 43; }
.z-\[44\] { z-index: 44; }
.z-\[45\] { z-index: 45; }
.z-\[46\] { z-index: 46; }
.z-\[47\] { z-index: 47; }
.z-\[48\] { z-index: 48; }
.z-\[49\] { z-index: 49; }
.z-\[50\] { z-index: 50; }
.z-\[51\] { z-index: 51; }
.z-\[52\] { z-index: 52; }
.z-\[53\] { z-index: 53; }
.z-\[54\] { z-index: 54; }
.z-\[55\] { z-index: 55; }
.z-\[56\] { z-index: 56; }
.z-\[57\] { z-index: 57; }
.z-\[58\] { z-index: 58; }
.z-\[59\] { z-index: 59; }
.z-\[60\] { z-index: 60; }
.z-\[61\] { z-index: 61; }
.z-\[62\] { z-index: 62; }
.z-\[63\] { z-index: 63; }
.z-\[64\] { z-index: 64; }
.z-\[65\] { z-index: 65; }
.z-\[66\] { z-index: 66; }
.z-\[67\] { z-index: 67; }
.z-\[68\] { z-index: 68; }
.z-\[69\] { z-index: 69; }
.z-\[70\] { z-index: 70; }
.z-\[71\] { z-index: 71; }
.z-\[72\] { z-index: 72; }
.z-\[73\] { z-index: 73; }
.z-\[74\] { z-index: 74; }
.z-\[75\] { z-index: 75; }
.z-\[76\] { z-index: 76; }
.z-\[77\] { z-index: 77; }
.z-\[78\] { z-index: 78; }
.z-\[79\] { z-index: 79; }
.z-\[80\] { z-index: 80; }
.z-\[81\] { z-index: 81; }
.z-\[82\] { z-index: 82; }
.z-\[83\] { z-index: 83; }
.z-\[84\] { z-index: 84; }
.z-\[85\] { z-index: 85; }
.z-\[86\] { z-index: 86; }
.z-\[87\] { z-index: 87; }
.z-\[88\] { z-index: 88; }
.z-\[89\] { z-index: 89; }
.z-\[90\] { z-index: 90; }
.z-\[91\] { z-index: 91; }
.z-\[92\] { z-index: 92; }
.z-\[93\] { z-index: 93; }
.z-\[94\] { z-index: 94; }
.z-\[95\] { z-index: 95; }
.z-\[96\] { z-index: 96; }
.z-\[97\] { z-index: 97; }
.z-\[98\] { z-index: 98; }
.z-\[99\] { z-index: 99; }
.z-\[100\] { z-index: 100; }
.z-\[110\] { z-index: 110; }

.shadow-md {
  box-shadow: var(--shadow-md);
}

.border {
  border: 1px solid;
}

.border-2 {
  border: 2px solid inherit;
}

.border-t { border-top: 1px solid; }

.border-b {
  border-bottom: 1px solid;
}

.border-black { border-color: var(--border-black); }

.border-gray-200 {
  border-color: var(--border-gray-200);
}

.m-1 { margin: 4px; }
.m-1\.5 { margin: 6px; }
.m-2 { margin: 8px; }
.m-2\.5 { margin: 10px; }
.m-3 { margin: 12px; }
.m-3\.5 { margin: 14px; }
.m-4 { margin: 16px; }
.m-4\.5 { margin: 18px; }
.m-5 { margin: 20px; }
.m-5\.5 { margin: 22px; }
.m-6 { margin: 24px; }
.m-6\.5 { margin: 26px; }
.m-7 { margin: 28px; }
.m-7\.5 { margin: 30px; }
.m-8 { margin: 32px; }
.m-8\.5 { margin: 34px; }
.m-9 { margin: 36px; }
.m-9\.5 { margin: 38px; }
.m-10 { margin: 40px; }
.m-10\.5 { margin: 42px; }
.m-11 { margin: 44px; }
.m-11\.5 { margin: 46px; }
.m-12 { margin: 48px; }
.m-12\.5 { margin: 50px; }
.m-13 { margin: 52px; }
.m-13\.5 { margin: 54px; }
.m-14 { margin: 56px; }
.m-14\.5 { margin: 58px; }
.m-15 { margin: 60px; }
.m-15\.5 { margin: 62px; }
.m-16 { margin: 64px; }
.m-16\.5 { margin: 66px; }
.m-17 { margin: 68px; }
.m-17\.5 { margin: 70px; }
.m-18 { margin: 72px; }
.m-18\.5 { margin: 74px; }
.m-19 { margin: 76px; }
.m-19\.5 { margin: 78px; }
.m-20 { margin: 80px; }

.mt-1 { margin-top: 4px; }
.mt-1\.5 { margin-top: 6px; }
.mt-2 { margin-top: 8px; }
.mt-2\.5 { margin-top: 10px; }
.mt-3 { margin-top: 12px; }
.mt-3\.5 { margin-top: 14px; }
.mt-4 { margin-top: 16px; }
.mt-4\.5 { margin-top: 18px; }
.mt-5 { margin-top: 20px; }
.mt-5\.5 { margin-top: 22px; }
.mt-6 { margin-top: 24px; }
.mt-6\.5 { margin-top: 26px; }
.mt-7 { margin-top: 28px; }
.mt-7\.5 { margin-top: 30px; }
.mt-8 { margin-top: 32px; }
.mt-8\.5 { margin-top: 34px; }
.mt-9 { margin-top: 36px; }
.mt-9\.5 { margin-top: 38px; }
.mt-10 { margin-top: 40px; }
.mt-10\.5 { margin-top: 42px; }
.mt-11 { margin-top: 44px; }
.mt-11\.5 { margin-top: 46px; }
.mt-12 { margin-top: 48px; }
.mt-12\.5 { margin-top: 50px; }
.mt-13 { margin-top: 52px; }
.mt-13\.5 { margin-top: 54px; }
.mt-14 { margin-top: 56px; }
.mt-14\.5 { margin-top: 58px; }
.mt-15 { margin-top: 60px; }
.mt-15\.5 { margin-top: 62px; }
.mt-16 { margin-top: 64px; }
.mt-16\.5 { margin-top: 66px; }
.mt-17 { margin-top: 68px; }
.mt-17\.5 { margin-top: 70px; }
.mt-18 { margin-top: 72px; }
.mt-18\.5 { margin-top: 74px; }
.mt-19 { margin-top: 76px; }
.mt-19\.5 { margin-top: 78px; }
.mt-20 { margin-top: 80px; }

.p-1 {
  padding: 4px;
}

.p-1\.5 {
  padding: 6px;
}

.p-2 {
  padding: 8px;
}

.p-2\.5 {
  padding: 10px;
}

.p-3 {
  padding: 12px;
}

.p-3\.5 {
  padding: 14px;
}

.p-4 {
  padding: 16px;
}

.p-4\.5 {
  padding: 18px;
}

.p-5 {
  padding: 20px;
}

.p-5\.5 {
  padding: 22px;
}

.p-6 {
  padding: 24px;
}

.p-6\.5 {
  padding: 26px;
}

.p-7 {
  padding: 28px;
}

.p-7\.5 {
  padding: 30px;
}

.p-8 {
  padding: 32px;
}

.p-8\.5 {
  padding: 34px;
}

.p-9 {
  padding: 36px;
}

.p-9\.5 {
  padding: 38px;
}

.p-10 {
  padding: 40px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-24 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.gap-1 {
  gap: 4px;
}

.gap-1\.5 {
  gap: 6px;
}

.gap-2 {
  gap: 8px;
}

.gap-2\.5 {
  gap: 10px;
}

.gap-3 {
  gap: 12px;
}

.gap-3\.5 {
  gap: 14px;
}

.gap-4 {
  gap: 16px;
}

.gap-4\.5 {
  gap: 18px;
}

.gap-5 {
  gap: 20px;
}

.gap-5\.5 {
  gap: 22px;
}

.gap-6 {
  gap: 24px;
}

.gap-6\.5 {
  gap: 26px;
}

.gap-7 {
  gap: 28px;
}

.gap-7\.5 {
  gap: 30px;
}

.gap-8 {
  gap: 32px;
}

.gap-8\.5 {
  gap: 34px;
}

.gap-9 {
  gap: 36px;
}

.gap-9\.5 {
  gap: 38px;
}

.gap-10 {
  gap: 40px;
}

.object-cover {
  object-fit: cover;
}

.relative { position: relative; }
.fixed { position: fixed; }
.absolute { position: absolute; }
.static { position: static; }

.hidden { display: none; }
.inline-block { display: inline-block; }
.block { display: block; }
.flex { display: flex; }
.grid { display: grid; }

.bottom-4 { bottom: 16px; }

.inset-0 { inset: 0; }
.inset-x-0 {
  left: 0;
  right: 0;
}

.place-content-center { place-content: center; }

.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }

.items-center { align-items: center; }
.items-start { align-items: start; }

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-reverse { flex-direction: column-reverse; }

.flex-wrap {
  flex-wrap: wrap;
}

.grid-cols-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }

.cursor-pointer { cursor: pointer; }

.translate-x-0 {
  transform: translateX(0);
}

.-translate-x-full {
  transform: translateX(-100%);
}

.transition-transform {
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition-all {
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-100 { transition-duration: 100ms; }
.duration-200 { transition-duration: 200ms; }
.duration-300 { transition-duration: 300ms; }
.duration-400 { transition-duration: 400ms; }
.duration-500 { transition-duration: 500ms; }
.duration-600 { transition-duration: 600ms; }
.duration-700 { transition-duration: 700ms; }
.duration-800 { transition-duration: 800ms; }
.duration-900 { transition-duration: 900ms; }
.duration-1000 { transition-duration: 1000ms; }

.ease { transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
.ease-in { transition-timing-function: cubic-bezier(0.4, 0, 1, 1); }
.ease-out { transition-timing-function: cubic-bezier(0, 0, 0.2, 1); }
.ease-in-out { transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.list-none {
  list-style: none;
}

.list-disc { list-style: disc; }

.rounded-md { border-radius: var(--rounded-md); }
.rounded-lg { border-radius: var(--rounded-lg); }
.rounded-xl { border-radius: var(--rounded-xl); }
.rounded-2xl { border-radius: var(--rounded-2xl); }
.rounded-3xl { border-radius: var(--rounded-3xl); }

.uppercase {
  text-transform: uppercase;
}

.text-sm { font-size: 14px; }
.text-\[15px\] { font-size: 15px; }
.text-2xl { font-size: 1.5rem; }

.text-4xl {
  font-size: 2.25rem;
  line-height: 1.08;
  /* line-height: 2.5rem; */
}

.text-center {
  text-align: center;
}

.font-semibold { font-weight: 600; }
.font-extrabold { font-weight: 800; }
.font-black { font-weight: 900; }

.tracking-relaxed { letter-spacing: 0.025rem; }
.tracking-widest { letter-spacing: 0.1rem; }

.active\:translate-x-\[4px\]:active { transform: translateX(4px); }
.active\:translate-y-\[4px\]:active { transform: translateY(4px); }
.active\:rounded-2xl:active { border-radius: var(--rounded-2xl); }
.active\:shadow-none:active { box-shadow: none; }

.resize-none {
  resize: none;
}

.aspect-\[4\/3\] { aspect-ratio: 4 / 3; }

/* ------------ END ------------ */

@media (min-width: 1280px) {
  .xl\:p-1 { padding: 4px; }
  .xl\:p-1\.5 { padding: 6px; }
  .xl\:p-2 { padding: 8px; }
  .xl\:p-2\.5 { padding: 10px; }
  .xl\:p-3 { padding: 12px; }
  .xl\:p-3\.5 { padding: 14px; }
  .xl\:p-4 { padding: 16px; }
  .xl\:p-4\.5 { padding: 18px; }
  .xl\:p-5 { padding: 20px; }
  .xl\:p-5\.5 { padding: 22px; }
  .xl\:p-6 { padding: 24px; }
  .xl\:p-6\.5 { padding: 26px; }
  .xl\:p-7 { padding: 28px; }
  .xl\:p-7\.5 { padding: 30px; }
  .xl\:p-8 { padding: 32px; }
  .xl\:p-8\.5 { padding: 34px; }
  .xl\:p-9 { padding: 36px; }
  .xl\:p-9\.5 { padding: 38px; }
  .xl\:p-10 { padding: 40px; }
  .xl\:p-10\.5 { padding: 42px; }
  .xl\:p-11 { padding: 44px; }
  .xl\:p-11\.5 { padding: 46px; }
  .xl\:p-12 { padding: 48px; }
  .xl\:p-12\.5 { padding: 50px; }
  .xl\:p-13 { padding: 52px; }
  .xl\:p-13\.5 { padding: 54px; }
  .xl\:p-14 { padding: 56px; }
  .xl\:p-14\.5 { padding: 58px; }
  .xl\:p-15 { padding: 60px; }
  .xl\:p-15\.5 { padding: 62px; }
  .xl\:p-16 { padding: 64px; }
  .xl\:p-16\.5 { padding: 66px; }
  .xl\:p-17 { padding: 68px; }
  .xl\:p-17\.5 { padding: 70px; }
  .xl\:p-18 { padding: 72px; }
  .xl\:p-18\.5 { padding: 74px; }
  .xl\:p-19 { padding: 76px; }
  .xl\:p-19\.5 { padding: 78px; }
  .xl\:p-20 { padding: 80px; }

  .xl\:flex-row { flex-direction: row; }

  .xl\:gap-1 { gap: 4px; }
  .xl\:gap-1\.5 { gap: 6px; }
  .xl\:gap-2 { gap: 8px; }
  .xl\:gap-2\.5 { gap: 10px; }
  .xl\:gap-3 { gap: 12px; }
  .xl\:gap-3\.5 { gap: 14px; }
  .xl\:gap-4 { gap: 16px; }
  .xl\:gap-4\.5 { gap: 18px; }
  .xl\:gap-5 { gap: 20px; }
  .xl\:gap-5\.5 { gap: 22px; }
  .xl\:gap-6 { gap: 24px; }
  .xl\:gap-6\.5 { gap: 26px; }
  .xl\:gap-7 { gap: 28px; }
  .xl\:gap-7\.5 { gap: 30px; }
  .xl\:gap-8 { gap: 32px; }
  .xl\:gap-8\.5 { gap: 34px; }
  .xl\:gap-9 { gap: 36px; }
  .xl\:gap-9\.5 { gap: 38px; }
  .xl\:gap-10 { gap: 40px; }
  .xl\:gap-10\.5 { gap: 42px; }
  .xl\:gap-11 { gap: 44px; }
  .xl\:gap-11\.5 { gap: 46px; }
  .xl\:gap-12 { gap: 48px; }
  .xl\:gap-12\.5 { gap: 50px; }
  .xl\:gap-13 { gap: 52px; }
  .xl\:gap-13\.5 { gap: 54px; }
  .xl\:gap-14 { gap: 56px; }
  .xl\:gap-14\.5 { gap: 58px; }
  .xl\:gap-15 { gap: 60px; }
  .xl\:gap-15\.5 { gap: 62px; }
  .xl\:gap-16 { gap: 64px; }
  .xl\:gap-16\.5 { gap: 66px; }
  .xl\:gap-17 { gap: 68px; }
  .xl\:gap-17\.5 { gap: 70px; }
  .xl\:gap-18 { gap: 72px; }
  .xl\:gap-18\.5 { gap: 74px; }
  .xl\:gap-19 { gap: 76px; }
  .xl\:gap-19\.5 { gap: 78px; }
  .xl\:gap-20 { gap: 80px; }

  .xl\:max-w-\[600px\] {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .lg\:flex-row {
    display: flex;
    flex-direction: row;
  }

  .lg\:gap-4 {
    gap: 16px;
  }

  .lg\:p-4\.5 {
    padding: 18px;
  }

  .lg\:text-base { font-size: 16px; }

  .lg\:text-\[60px\] {
    font-size: 60px;
  }

  .lg\:grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }

  .md\:mt-12 { margin-top: 48px; }

  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 1.08;
  }

  .lg\:max-w-\[500px\] {
    max-width: 500px;
  }

  .lg\:max-w-3xl {
    max-width: 768px;
  }

  .lg\:mt-1 { margin-top: 4px; }
  .lg\:mt-1\.5 { margin-top: 6px; }
  .lg\:mt-2 { margin-top: 8px; }
  .lg\:mt-2\.5 { margin-top: 10px; }
  .lg\:mt-3 { margin-top: 12px; }
  .lg\:mt-3\.5 { margin-top: 14px; }
  .lg\:mt-4 { margin-top: 16px; }
  .lg\:mt-4\.5 { margin-top: 18px; }
  .lg\:mt-5 { margin-top: 20px; }
  .lg\:mt-5\.5 { margin-top: 22px; }
  .lg\:mt-6 { margin-top: 24px; }
  .lg\:mt-6\.5 { margin-top: 26px; }
  .lg\:mt-7 { margin-top: 28px; }
  .lg\:mt-7\.5 { margin-top: 30px; }
  .lg\:mt-8 { margin-top: 32px; }
  .lg\:mt-8\.5 { margin-top: 34px; }
  .lg\:mt-9 { margin-top: 36px; }
  .lg\:mt-9\.5 { margin-top: 38px; }
  .lg\:mt-10 { margin-top: 40px; }
  .lg\:mt-10\.5 { margin-top: 42px; }
  .lg\:mt-11 { margin-top: 44px; }
  .lg\:mt-11\.5 { margin-top: 46px; }
  .lg\:mt-12 { margin-top: 48px; }
  .lg\:mt-12\.5 { margin-top: 50px; }
  .lg\:mt-13 { margin-top: 52px; }
  .lg\:mt-13\.5 { margin-top: 54px; }
  .lg\:mt-14 { margin-top: 56px; }
  .lg\:mt-14\.5 { margin-top: 58px; }
  .lg\:mt-15 { margin-top: 60px; }
  .lg\:mt-15\.5 { margin-top: 62px; }
  .lg\:mt-16 { margin-top: 64px; }
  .lg\:mt-16\.5 { margin-top: 66px; }
  .lg\:mt-17 { margin-top: 68px; }
  .lg\:mt-17\.5 { margin-top: 70px; }
  .lg\:mt-18 { margin-top: 72px; }
  .lg\:mt-18\.5 { margin-top: 74px; }
  .lg\:mt-19 { margin-top: 76px; }
  .lg\:mt-19\.5 { margin-top: 78px; }
  .lg\:mt-20 { margin-top: 80px; }

  .lg\:text-\[26px\] { font-size: 26px; }

  .lg\:max-w-\[500px\] { max-width: 500px; }
}

@media (min-width: 768px) {
  .md\:hidden { display: none; }

  .md\:flex {
    display: flex;
    flex-direction: row;
  }

  .md\:flex-row {
    /* display: flex; */
    flex-direction: row;
  }

  .md\:gap-3\.5 {
    gap: 14px;
  }

  .md\:-translate-x-full {
    transform: translateX(-100%);
  }

  .md\:min-w-\[300px\] {
    min-width: 300px;
  }

  .md\:max-w-\[300px\] {
    max-width: 300px;
  }

  .md\:max-w-\[400px\] { max-width: 400px; }
    .md\:max-w-\[450px\] { max-width: 450px; }

  .md\:w-max {
    width: max-content;
  }

  .md\:p-4 {
    padding: 16px;
  }

  .md\:text-\[15\.5px\] { font-size: 15.5px; }

  .md\:grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }

  .md\:mt-6 { margin-top: 24px; }

  .md\:w-\[300px\] { width: 300px; }

  .md\:h-\[300px\] { height: 300px; }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 1.05;
  }

  .md\:mt-1 { margin-top: 4px; }
  .md\:mt-1\.5 { margin-top: 6px; }
  .md\:mt-2 { margin-top: 8px; }
  .md\:mt-2\.5 { margin-top: 10px; }
  .md\:mt-3 { margin-top: 12px; }
  .md\:mt-3\.5 { margin-top: 14px; }
  .md\:mt-4 { margin-top: 16px; }
  .md\:mt-4\.5 { margin-top: 18px; }
  .md\:mt-5 { margin-top: 20px; }
  .md\:mt-5\.5 { margin-top: 22px; }
  .md\:mt-6 { margin-top: 24px; }
  .md\:mt-6\.5 { margin-top: 26px; }
  .md\:mt-7 { margin-top: 28px; }
  .md\:mt-7\.5 { margin-top: 30px; }
  .md\:mt-8 { margin-top: 32px; }
  .md\:mt-8\.5 { margin-top: 34px; }
  .md\:mt-9 { margin-top: 36px; }
  .md\:mt-9\.5 { margin-top: 38px; }
  .md\:mt-10 { margin-top: 40px; }
  .md\:mt-10\.5 { margin-top: 42px; }
  .md\:mt-11 { margin-top: 44px; }
  .md\:mt-11\.5 { margin-top: 46px; }
  .md\:mt-12 { margin-top: 48px; }
  .md\:mt-12\.5 { margin-top: 50px; }
  .md\:mt-13 { margin-top: 52px; }
  .md\:mt-13\.5 { margin-top: 54px; }
  .md\:mt-14 { margin-top: 56px; }
  .md\:mt-14\.5 { margin-top: 58px; }
  .md\:mt-15 { margin-top: 60px; }
  .md\:mt-15\.5 { margin-top: 62px; }
  .md\:mt-16 { margin-top: 64px; }
  .md\:mt-16\.5 { margin-top: 66px; }
  .md\:mt-17 { margin-top: 68px; }
  .md\:mt-17\.5 { margin-top: 70px; }
  .md\:mt-18 { margin-top: 72px; }
  .md\:mt-18\.5 { margin-top: 74px; }
  .md\:mt-19 { margin-top: 76px; }
  .md\:mt-19\.5 { margin-top: 78px; }
  .md\:mt-20 { margin-top: 80px; }

  .md\:gap-1 { gap: 4px; }
  .md\:gap-1\.5 { gap: 6px; }
  .md\:gap-2 { gap: 8px; }
  .md\:gap-2\.5 { gap: 10px; }
  .md\:gap-3 { gap: 12px; }
  .md\:gap-3\.5 { gap: 14px; }
  .md\:gap-4 { gap: 16px; }
  .md\:gap-4\.5 { gap: 18px; }
  .md\:gap-5 { gap: 20px; }
  .md\:gap-5\.5 { gap: 22px; }
  .md\:gap-6 { gap: 24px; }
  .md\:gap-6\.5 { gap: 26px; }
  .md\:gap-7 { gap: 28px; }
  .md\:gap-7\.5 { gap: 30px; }
  .md\:gap-8 { gap: 32px; }
  .md\:gap-8\.5 { gap: 34px; }
  .md\:gap-9 { gap: 36px; }
  .md\:gap-9\.5 { gap: 38px; }
  .md\:gap-10 { gap: 40px; }
  .md\:gap-10\.5 { gap: 42px; }
  .md\:gap-11 { gap: 44px; }
  .md\:gap-11\.5 { gap: 46px; }
  .md\:gap-12 { gap: 48px; }
  .md\:gap-12\.5 { gap: 50px; }
  .md\:gap-13 { gap: 52px; }
  .md\:gap-13\.5 { gap: 54px; }
  .md\:gap-14 { gap: 56px; }
  .md\:gap-14\.5 { gap: 58px; }
  .md\:gap-15 { gap: 60px; }
  .md\:gap-15\.5 { gap: 62px; }
  .md\:gap-16 { gap: 64px; }
  .md\:gap-16\.5 { gap: 66px; }
  .md\:gap-17 { gap: 68px; }
  .md\:gap-17\.5 { gap: 70px; }
  .md\:gap-18 { gap: 72px; }
  .md\:gap-18\.5 { gap: 74px; }
  .md\:gap-19 { gap: 76px; }
  .md\:gap-19\.5 { gap: 78px; }
  .md\:gap-20 { gap: 80px; }
}

@media (max-width: 768px) {
  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .md\:text-5xl {
    font-size: 2.5rem;
    /* line-height: 1rem; */
    line-height: 1.05;
  }
}

@media (hover: hover) {
  .hover\:translate-x-\[4px\]:hover { transform: translateX(4px); }
  .hover\:translate-y-\[4px\]:hover { transform: translateY(4px); }
  .hover\:rounded-md:hover { border-radius: var(--rounded-md); }
  .hover\:shadow-\[4px_4px_0px_black\]:hover { box-shadow: 4px 4px 0px var(--black); }
}